body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #7B68EE; /* Soft purple color */
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

.intro {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.intro .headshot {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.contact-info {
    padding: 20px 0;
}

.contact-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #4682B4; /* Soft blue color */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #7B68EE; /* Soft purple color */
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 768px) {
    .paragraph-container {
        flex-direction: column;
    }

    .paragraph-container p {
        flex: 1 0 auto;
        margin-right: 0;
    }
}
